@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Ward Sacrament Meeting Planner</h2>
    <p>Unofficial tool for members of The Church of Jesus Christ of Latter Day Saints</p>
    <img id="homePageImage" src="~/church_chapel_meetinghouse.jpeg" alt="LDS brick meetinghouse with purple flowers in the foreground" />
    <div >
        <p>If you would like more information about The Church of Jesus Christ of Latter Day Saints please visit <a href="https://www.churchofjesuschrist.org/?lang=eng">churchofjesuschrist.org</a> or reach out to your local leaders. </p>
        <p>To find your local leaders add pertinent information <a href="https://www.churchofjesuschrist.org/maps/meetinghouses/">here</a></p>
    </div>
   

</div>
