@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is for use at a ward or stake level for members of The Church of Jesus Christ of Latter Day Saints</p>
<p>If you would like more information about The Church of Jesus Christ of Latter Day Saints please visit <a href="https://www.churchofjesuschrist.org/?lang=eng">churchofjesuschrist.org</a> or reach out to your local leaders. </p>
<p>To find your local leaders add pertinent information <a href="https://www.churchofjesuschrist.org/maps/meetinghouses/">here</a></p>
